@mixin btnColor {
  background-color: $btnColor;
  padding: 10px 35px;
  border: none;
  color: $txtColor3;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  font-family: map_get($map-font-fam, font1);
  &:hover {
    cursor: pointer;
    background-color: darken($btnColor, 10%);
    transition: 0.9s linear;
    animation: waves 4s;
    @keyframes waves {
      0% {
        opacity: 0.9;
      }
      100% {
        opacity: 0.9;
      }
    }
  }
}
@mixin underLine {
  content: "";
  background-color: $bgTextColor;
  display: block;
  position: absolute;
  z-index: -1;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $bodyColor;
}
.header {
  background: $bgImg no-repeat;
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-position: center center;
  width: 100%;
  height: 100%;
  color: $txtColor1;
  border-radius: 0px 0px 30em/15em 0px;
  .header-wrap {
    margin: 0 15px 20px 80px;
    .landing-logo {
      display: flex;
      img {
        margin: 20px 15px;
      }
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: map-get($map-font-fam, font3);
        font-weight: 600;
        font-size: 24px;
        line-height: 1;
        align-items: center;
        span {
          font-weight: 500;
          font-size: 12px;
        }
      }
    }
  }
}
.header_heading {
  font-family: map-get($map-font-fam, font1);
  font-size: 72px;
  color: $txtColor1;
  font-weight: 800;
  max-width: 600px;
  position: relative;
  z-index: 1;
  margin: 48px 0;
  &::after {
    @include underLine;
    width: 300px;
    height: 27px;
    bottom: 8px;
  }
}
.header_text {
  font-family: map-get($map-font-fam, font2);
  white-space: pre-line;
  margin-bottom: 40px;
}
.header_button {
  @include btnColor;
}
.section_banner_button {
  @extend .header_button;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $sectionColor;
  .section_text {
    color: $txtColor1;
    font-size: 36px;
    font-weight: 600;
    font-family: map-get($map-font-fam, font1);
    position: relative;
    z-index: 1;
    &:after {
      @include underLine;
      width: 160px;
      height: 10px;
      bottom: 8px;
      right: 11px;
    }
  }
  .section_card_wrap {
    padding: 20px;
    display: flex;
    width: 80%;
    justify-content: center;
    .section_card {
      width: 30%;
      margin-left: 2%;
      border-radius: 5px;
      padding: 20px;
      background-color: $bgColor;
      .section_card_img {
        border-radius: 5px;
        width: 100%;
      }
      .section_card_heading {
        font-family: map-get($map-font-fam, font2);
        font-weight: 700;
        font-size: 20px;
        color: $txtColor3;
        display: inline-block;
        position: relative;
        left: 27%;
        z-index: 1;
        span {
          @include underLine;
          bottom: 0;
          height: 16px;
          width: 100%;
        }
      }
      .section_card_text {
        font-family: map-get($map-font-fam, font2);
        color: $txtColor2;
        font-size: 14px;
        text-align: center;
        line-height: 1.7;
      }
    }
  }
}
.section_banner {
  width: 50%;
  background: $lastBlockcolor;
  border-radius: 7px;
  position: relative;
  bottom: -70px;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  height: 140px;
  align-items: center;
  .section_banner_text_wrap {
    .section_banner_heading {
      color: $txtColor1;
      font-size: 24px;
      font-family: map-get($map-font-fam, font1);
      font-weight: 600;
      z-index: 1;
      position: relative;
      &:after {
        @include underLine;
        width: 51px;
        left: 95px;
        height: 9px;
        bottom: 5px;
      }
    }
    .section_banner_text {
      color: #fff;
      font-family: map-get($map-font-fam, font2);
    }
  }
}
.footer {
  width: 100%;
  display: flex;
  background-color: $bgColor;
  justify-content: center;
  height: 210px;
  z-index: 1;
  position: relative;
  .footer-wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    padding-top: 100px;
    .footer_logo {
      p {
        color: $txtColor2;
        font-family: map_get($map-font-fam, font3);
        span {
          font-weight: 600;
        }
      }
    }
    .footer_text {
      max-width: 250px;
      height: max-content;
      font-family: map_get($map-font-fam, font1);
      color: $txtColor2;
      font-size: 12px;
      line-height: 1.5;
    }
    .footer-cr {
      font-family: map_get($map-font-fam, font1);
      color: $txtColor2;
      font-size: 14px;
    }
  }
}