$bgImg: url("../img/m-h-day.jpg");
$txtColor1: #2c2f3c;
$txtColor2: #c0c3ce;
$txtColor3: #fff;
$bgTextColor: #14a0c7;
$btnColor: #699900;
$bgColor: #21232e;
$lastBlockcolor: linear-gradient(to right, #679708, #2e5cd7);

$sectionColor: #fff;
$bodyColor: #fff;

$map-font-fam: (
  font1: (
    "Source Sans Pro",
    sans-serif
  ),
  font2: (
    "Hind",
    sans-serif
  ),
  font3: (
    "Hind",
    sans-serif
  )
);
