$bgImg: url("../img/m-h-night.jpg");
$txtColor1: #fff;
$txtColor2: #d1d1d1;
$txtColor3: #fff;
$bgTextColor: #ff4e33;
$btnColor: #e3ac00;
$bgColor: #3b3f50;
$lastBlockcolor: linear-gradient(to right, #e1a901, #98354d);

$sectionColor: #21232e;
$bodyColor: #21232e;

$map-font-fam: (
  font1: (
    "Source Sans Pro",
    sans-serif
  ),
  font2: (
    "Hind",
    sans-serif
  ),
  font3: (
    "Fresca",
    sans-serif
  )
);
